<header>
  <h3><%= t('Job') %></h3>
</header>

<div class="table_container">
  <table class="table table-bordered table-striped">
    <tbody>
    <tr>
      <th><%= t('Queue') %></th>
      <td>
        <%= @job['queue'] %>
      </td>
    </tr>
    <tr>
      <th><%= t('Job') %></th>
      <td>
        <code><%= @job['class'] %></code>
      </td>
    </tr>
    <tr>
      <th><%= t('Arguments') %></th>
      <td>
        <code class="code-wrap">
          <div class="args-extended"><%= @job['args'].join(', ') %></div>
        </code>
      </td>
    </tr>
    <tr>
      <th>JID</th>
      <td>
        <code><%= @job['jid'] %></code>
      </td>
    </tr>
    <tr>
      <th><%= t('CreatedAt') %></th>
      <td><%= relative_time(Time.at(@job['created_at'])) %></td>
    </tr>
    <tr>
      <th><%= t('Enqueued') %></th>
      <td><%= relative_time(Time.at(@job['enqueued_at'])) %></td>
    </tr>
    <% unless retry_extra_items(OpenStruct.new(item: @job)).empty? %>
      <tr>
        <th><%= t('Extras') %></th>
        <td>
          <code>
            <%= retry_extra_items(OpenStruct.new(item: @job)).inspect %>
          </code>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h3><%= t('Error') %></h3>
  <div class="table_container">
    <table class="error table table-bordered table-striped">
      <tbody>
      <tr>
        <th><%= t('ErrorClass') %></th>
        <td>
          <code><%= @job['error_class'] %></code>
        </td>
      </tr>
      <tr>
        <th><%= t('ErrorMessage') %></th>
        <td><%= h(@job['error_message']) %></td>
      </tr>
      <% if !@job['error_backtrace'].nil? %>
        <tr>
          <th><%= t('ErrorBacktrace') %></th>
          <td>
            <code><%= @job['error_backtrace'].join("<br/>") %></code>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>